#main-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

aside {
	flex-basis: 30%;
	background-color: grey;	
	color: white;

}
main {
	flex-basis: 60%;
	background-color: white;
	color: darkgray;
}

main h3 {
	font-weight: bold;
}

footer {
	background-color: black;
	color: white;
}

#profile-picture {
	background-color: transparent;
	padding: 0em;
}

#profile-picture img {
	border-radius: 50%;
	width: 100%;
	margin: auto;
}

#profile-picture figcaption {
	background-color: transparent;
	display: block;
	text-align: center;
	font-size: 1.2em;
	padding: 0.8em 0;
}

ul {
	list-style-type: none;
}

dl {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

dt {
	flex-basis: 30%;
	font-weight: bold;
}


dd {
	flex-basis: 60%;
}

aside > section {
	margin: 4em 0;
}

section > h2 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-weight: bold;
}

aside > section h2 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 1.2em;
} 

aside > section h2:first-child {
	border-bottom: 0.05em solid white;
}

aside > section ul,
aside > section dl {
	margin: 0 2em;
}

.hero {
	background-color: lightblue;
	padding: 4em 0;
}

.hero h1 {
	color: white;
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	text-align: center;
	/*margin: 3em 0em;*/
}

.hero h2 {
	color: white;
	border-top: 0.2em solid white;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

.about-me {
	background-color: lightgreen;
}

#languages {
	display: flex;
	justify-content: space-between;	
	flex-wrap: wrap;
	
}
#languages h2 {
	flex-basis: 100%;
	
}
.language {
	flex-basis: 40%;
	
	margin: 2em 0;
}
.language h3 {
	color: rgb(10,10,10);
}
